<div class="container mt-5">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="card-title display-4 text-center"><%= @restaurant.name %></h1>
      <hr>
      <p class="card-text">
        🏠 <%= @restaurant.address %>
      </p>
      <p class="card-text">
        ⛳️ <%= @restaurant.category.capitalize %>
      </p>
      <p class="card-text">
        ☎️ <%= @restaurant.phone_number %>
      </p>
      <hr>
      <div class="text-center mt-3">
        <%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
</div>
